{% extends "layout.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Admin Dashboard</h1>

<div class="row">
    <div class="col-md-4">
        <h3>Statistics</h3>
        <ul class="list-group mb-4">
            <li class="list-group-item">Active Users: {{ active_users }}</li>
            <li class="list-group-item">Total Campaigns: {{ total_campaigns }}</li>
            <li class="list-group-item">Public Campaigns: {{ public_campaigns }}</li>
            <li class="list-group-item">Private Campaigns: {{ private_campaigns }}</li>
            <li class="list-group-item">Total Ad Requests: {{ total_ad_requests }}</li>
            <li class="list-group-item">Accepted: {{ accepted_requests }}</li>
            <li class="list-group-item">Rejected: {{ rejected_requests }}</li>
            <li class="list-group-item">Negotiated: {{ negotiated_requests }}</li>
        </ul>
    </div>

    <div class="col-md-8">
        <h3>All Users</h3>
        <ul class="list-group mb-4">
            {% for user in users %}
            {% if user.role!='admin' %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ user.username }} ({{ user.role}})
                <div>
                    {% if user.flagged!=1 %}
                    <form method="POST" action="{{ url_for('flag_user', user_id=user.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-warning btn-sm">Flag</button>
                    </form>
                    {% endif %}
                    {% if user.flagged %}
                    <form method="POST" action="{{ url_for('remove_flag_user', user_id=user.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Unflag</button>
                    </form>
                    {% endif %}
                </div>
            </li>
            {% endif %}
            {% else %}
            <li class="list-group-item">No users found.</li>
            {% endfor %}
        </ul>

        <h3>All Campaigns</h3>
        <ul class="list-group mb-4">
            {% for campaign in campaigns %}

            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ campaign.name }} by {{ campaign.owner.username }} ({{ campaign.visibility }})
                <div>
                    {% if campaign.flagged!=1 %}
                    <form method="POST" action="{{ url_for('flag_campaign', campaign_id=campaign.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-warning btn-sm">Flag</button>
                    </form>
                    {% endif %}
                    {% if campaign.flagged %}
                    <form method="POST" action="{{ url_for('remove_flag_campaign', campaign_id=campaign.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Unflag</button>
                    </form>
                    {% endif %}
                </div>
            </li>
            {% else %}
            <li class="list-group-item">No campaigns found.</li>
            {% endfor %}
        </ul>

        <h3>All Ad Requests</h3>
        <ul class="list-group mb-4">
            {% for ad_request in ad_requests %}

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex flex-grow-1 align-items-center">
                    <span class="me-auto">{{ ad_request.id }} of {{ ad_request.campaign.name }} ({{ ad_request.influencer.username }})</span>
                    <span class="badge {% if ad_request.status == 'Accepted' %}bg-success{% elif ad_request.status == 'Rejected' %}bg-danger{% elif ad_request.status == 'Requested' %}bg-light{% elif ad_request.status == 'Negotiated' %}bg-warning text-dark{% endif %}">
                        {{ ad_request.status }}
                    </span>
                </div>
                <div>
                    {% if ad_request.flagged != 1 %}
                    <form method="POST" action="{{ url_for('flag_ad_request', ad_request_id=ad_request.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-warning btn-sm">Flag</button>
                    </form>
                    {% endif %}
                    {% if ad_request.flagged %}
                    <form method="POST" action="{{ url_for('remove_flag_ad_request', ad_request_id=ad_request.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Unflag</button>
                    </form>
                    {% endif %}
                </div>
            </li>
            
            {% else %}
            <li class="list-group-item">No campaigns found.</li>
            {% endfor %}
        </ul>

        <h3>Flagged Users</h3>
        <ul class="list-group mb-4">
            {% for flagged_user in flagged_users %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ flagged_user.username }} ({{ flagged_user.role }})
                <div>
                    <form method="POST" action="{{ url_for('remove_flag_user', user_id=flagged_user.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-warning btn-sm">UnFlag</button>
                    </form>
                    <form method="POST" action="{{ url_for('delete_flagged_user', user_id=flagged_user.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </li>
            {% else %}
            <li class="list-group-item">No flagged users.</li>
            {% endfor %}
        </ul>

        <h3>Flagged Campaigns</h3>
        <ul class="list-group mb-4">
            {% for flagged_campaign in flagged_campaigns %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ flagged_campaign.name }} by {{ flagged_campaign.owner.username }}
                <div>
                    <form method="POST" action="{{ url_for('remove_flag_campaign', campaign_id=flagged_campaign.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-warning btn-sm">UnFlag</button>
                    </form>
                    <form method="POST" action="{{ url_for('delete_flagged_campaign', campaign_id=flagged_campaign.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </li>
            {% else %}
            <li class="list-group-item">No flagged campaigns.</li>
            {% endfor %}
        </ul>

        <h3>Flagged Ad Requests</h3>
        <ul class="list-group mb-4">
            {% for flagged_ad_request in flagged_ad_requests %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ flagged_ad_request.id }} of {{ flagged_ad_request.campaign_id }} ({{ flagged_ad_request.status }})
                <div>
                    <form method="POST" action="{{ url_for('remove_flag_ad_request', ad_request_id=flagged_ad_request.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-warning btn-sm">UnFlag</button>
                    </form>
                    <form method="POST" action="{{ url_for('delete_flagged_ad_request', ad_request_id=flagged_ad_request.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </li>
            {% else %}
            <li class="list-group-item">No flagged ad requests.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
