{% extends "layout.html" %}
{% block title %}Search Influencers{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Search Influencers</h1>
    <form method="POST" action="{{ url_for('search_influencers') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.platform.label }} {{ form.platform(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.niche.label }} {{ form.niche(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.followers_min.label }} {{ form.followers_min(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <h3>Results</h3>
    <ul class="list-group">
        {% for influencer in influencers %}
        <li class="list-group-item">
            <br>
            <h4>{{ influencer.username }}</h4><br>
            <strong>Platform:</strong> {{ influencer.platform }}<br>
            <strong>Niche:</strong> {{ influencer.niche }}<br>
            <strong>Followers:</strong> {{ influencer.followers }}<br>
            <div class="d-flex justify-content-start mt-2">
                <form method="GET" action="{{ url_for('create_ad_request_for_influencer', influencer_id=influencer.id) }}">
                    <button type="submit" class="btn btn-success mr-2">Send Ad Request</button>
                </form>
                <form method="GET" action="{{ url_for('user_profile', username=influencer.username) }}">
                    <button type="submit" class="btn btn-success">View Profile</button>
                </form>
            </div>
            
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
